<?xml version="1.0"?>
<entry name="menu" type="widget" widget-element="menu">
	<title>Menu Widget</title>
	<desc>
		Themeable menu with mouse and keyboard interactions for navigation.
	</desc>
	<longdesc>
		<p>A menu can be created from any valid markup as long as the elements have a strict parent/child relationship. The most commonly used element is the unordered list (<code>&lt;ul></code>). Additionally, the contents of each menu item must be wrapped with a block-level DOM element. In the example below <code>&lt;div&gt;</code> elements are used as wrappers:</p>

		<pre><code><![CDATA[
<ul id="menu">
	<li>
		<div>Item 1</div>
	</li>
	<li>
		<div>Item 2</div>
	</li>
	<li>
		<div>Item 3</div>
		<ul>
			<li>
				<div>Item 3-1</div>
			</li>
			<li>
				<div>Item 3-2</div>
			</li>
			<li>
				<div>Item 3-3</div>
			</li>
		</ul>
	</li>
	<li>
		<div>Item 4</div>
	</li>
	<li>
		<div>Item 5</div>
	</li>
</ul>
]]></code></pre>

		<p>If you use a structure other than <code>&lt;ul></code>/<code>&lt;li></code>, including using the same element for the menu and the menu items, use the <a href="#option-menus"><code>menus</code></a> option to specify a way to differentiate the two elements, e.g., <code>menus: "div.menuElement"</code>.</p>

		<p>Any menu item can be disabled by adding the <code>ui-state-disabled</code> class to that element.</p>

		<h3 id="icons">Icons</h3>

		<p>To add icons to the menu, include them in the markup:</p>

		<pre><code><![CDATA[
<ul id="menu">
	<li>
		<div><span class="ui-icon ui-icon-disk"></span>Save</div>
	</li>
</ul>
]]></code></pre>
		<p>Menu automatically adds the necessary padding to items without icons.</p>

		<h3 id="dividers">Dividers</h3>

		<p>Divider elements can be created by including menu items that contain only spaces and/or dashes:</p>

		<pre><code><![CDATA[
<ul id="menu">
	<li>
		<div>Item 1</div>
	</li>
	<li>-</li>
	<li>
		<div>Item 2</div>
	</li>
</ul>
]]></code></pre>

		<h3>Keyboard interaction</h3>

		<ul>
			<li><code>ENTER</code>/<code>SPACE</code>: Invoke the focused menu item's action, which may be opening a submenu.</li>
			<li><code>UP</code>: Move focus to the previous menu item.</li>
			<li><code>DOWN</code>: Move focus to the next menu item.</li>
			<li><code>RIGHT</code>: Open the submenu, if available.</li>
			<li><code>LEFT</code>: Close the current submenu and move focus to the parent menu item. If not in a submenu, do nothing.</li>
			<li><code>ESCAPE</code>: Close the current submenu and move focus to the parent menu item. If not in a submenu, do nothing.</li>
		</ul>

		<p>Typing a letter moves focus to the first item whose title starts with that character. Repeating the same character cycles through matching items. Typing more characters within the one second timer matches those characters.</p>

		<p>Disabled items can receive keyboard focus, but do not allow any other interaction.</p>

		<xi:include href="../includes/widget-theming.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>

		<ul>
			<li>
				<code>ui-menu</code>: The outer container of the menu, as well as any nested submenu. This top-level element will additionally have a <code>ui-menu-icons</code> class if the menu contains icons.
				<ul>
					<li>
						<code>ui-menu-item</code>: The container for individual menu items. This contains the element for the item's text itself as well as the element for submenus.
						<ul>
							<li>
								<code>ui-menu-item-wrapper</code>: The wrapper element inside each individual menu item, containting the text content and the icon indicating submenus.
								<ul>
									<li><code>ui-menu-icon</code>: The submenu icons set via the <a href="#option-icons"><code>icons</code></a> option.</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><code>ui-menu-divider</code>: Divider elements between menu items.</li>
				</ul>
			</li>
		</ul>

		<h3>Dependencies</h3>
		<ul>
			<li><a href="/category/ui-core/">UI Core</a></li>
			<li><a href="/jQuery.widget/">Widget Factory</a></li>
			<li><a href="/position/">Position</a></li>
		</ul>
	</longdesc>
	<note id="functional-css"/>
	<added>1.9</added>
	<options>
		<option name="classes" type="Object" default="{}">
			<xi:include href="../includes/classes-option-desc.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
			<xi:include href="../includes/classes-option-example.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		</option>
		<xi:include href="../includes/widget-option-disabled.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<option name="icons" type="Object" example-value='{ submenu: "ui-icon-circle-triangle-e" }'>
			<default>{
	submenu: "ui-icon-carat-1-e"
}</default>
			<desc>
				Icons to use for submenus, matching <a href="/theming/icons/">an icon provided by the jQuery UI CSS Framework</a>.
			</desc>
		</option>
		<option name="items" type="String" default='"> *"' example-value='".custom-item"' init-only="true" added="1.11.0">
			<desc>
				<p>Selector for the elements that serve as the menu items.</p>
				<div class="warning"><strong>Note:</strong> The <code>items</code> option should not be changed after initialization.</div>
			</desc>
		</option>
		<option name="menus" type="String" default='"ul"' example-value='"div"' init-only="true">
			<desc>
				<p>Selector for the elements that serve as the menu container, including sub-menus.</p>
				<div class="warning"><strong>Note:</strong> The <code>menus</code> option should not be changed after initialization. Existing submenus will not be updated.</div>
			</desc>
		</option>
		<option name="position" type="Object" default='{ my: "left top", at: "right top" }' example-value='{ my: "left top", at: "right-5 top+5" }'>
			<desc>Identifies the position of submenus in relation to the associated parent menu item. The <code>of</code> option defaults to the parent menu item, but you can specify another element to position against. You can refer to the <a href="/position/">jQuery UI Position</a> utility for more details about the various options.</desc>
		</option>
		<option name="role" type="String" default='"menu"' example-value="null" init-only="true">
			<desc>
				<p>Customize the ARIA roles used for the menu and menu items. The default uses <code>"menuitem"</code> for items. Setting the <code>role</code> option to <code>"listbox"</code> will use <code>"option"</code> for items. If set to <code>null</code>, no roles will be set, which is useful if the menu is being controlled by another element that is maintaining focus.</p>
				<div class="warning"><strong>Note:</strong> The <code>role</code> option should not be changed after initialization. Existing (sub)menus and menu items will not be updated.</div>
			</desc>
		</option>
	</options>
	<methods>
		<method name="blur">
			<desc>
				Removes focus from a menu, resets any active element styles and triggers the menu's <a href="#event-blur"><code>blur</code></a> event.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to blur.</desc>
			</argument>
		</method>
		<method name="collapse">
			<desc>
				Closes the currently active sub-menu.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to collapse.</desc>
			</argument>
		</method>
		<method name="collapseAll" example-params='null, true'>
			<desc>
				Closes all open sub-menus.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to collapse.</desc>
			</argument>
			<argument name="all" type="Boolean" optional="true">
				<desc>Indicates whether all sub-menus should be closed or only sub-menus below and including the menu that is or contains the target of the triggering event.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-destroy.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<xi:include href="../includes/widget-method-disable.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<xi:include href="../includes/widget-method-enable.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<xi:include href="../includes/widget-method-instance.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<method name="expand">
			<desc>
				Opens the sub-menu below the currently active item, if one exists.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to expand.</desc>
			</argument>
		</method>
		<method name="focus" example-params='null, menu.find( ".ui-menu-item:last" )'>
			<desc>
				Activates the given menu item and triggers the menu's <a href="#event-focus"><code>focus</code></a> event. Opens the menu item's sub-menu, if one exists.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu item to gain focus.</desc>
			</argument>
			<argument name="item" type="jQuery">
				<desc>The menu item to focus/activate.</desc>
			</argument>
		</method>
		<method name="isFirstItem" example-return-var="firstItem">
			<desc>
				Returns a boolean value stating whether or not the currently active item is the first item in the menu.
			</desc>
		</method>
		<method name="isLastItem" example-return-var="lastItem">
			<desc>
				Returns a boolean value stating whether or not the currently active item is the last item in the menu.
			</desc>
		</method>
		<method name="next">
			<desc>
				Moves active state to next menu item.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="nextPage">
			<desc>
				Moves active state to first menu item below the bottom of a scrollable menu or the last item if not scrollable.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-option.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<method name="previous">
			<desc>
				Moves active state to previous menu item.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="previousPage">
			<desc>
				Moves active state to first menu item above the top of a scrollable menu or the first item if not scrollable.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="refresh">
			<desc>
				Initializes sub-menus and menu items that have not already been initialized. New menu items, including sub-menus can be added to the menu or all of the contents of the menu can be replaced and then initialized with the <code>refresh()</code> method.
			</desc>
		</method>
		<method name="select">
			<desc>
				Selects the currently active menu item, collapses all sub-menus and triggers the menu's <a href="#event-select"><code>select</code></a> event.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the selection.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-widget.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
	</methods>
	<extension-points>
		<method name="_closeOnDocumentClick" return="Boolean">
			<desc>
				Method that determines whether clicks on the document should close any open menus. By default, menus are closed unless the click occurred on the menu.
			</desc>
			<argument name="event" type="Event"/>
			<example>
				<desc>Never close menus on document click.</desc>
				<code><![CDATA[
_closeOnDocumentClick: function( event ) {
	return false;
}
]]></code>
			</example>
		</method>
		<method name="_isDivider" return="Boolean">
			<desc>
				Determines whether an item should actually be represented as a divider instead of a menu item. By default any item that contains just spaces and/or dashes is considered a divider.
			</desc>
			<argument name="item" type="jQuery"/>
			<example>
				<desc>Treat all items as menu items with no dividers.</desc>
				<code><![CDATA[
_isDivider: function( item ) {
	return false;
}
]]></code>
			</example>
		</method>
	</extension-points>
	<events>
		<event name="blur">
			<desc>
				Triggered when the menu loses focus.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
		<xi:include href="../includes/widget-event-create.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<event name="focus">
			<desc>
				Triggered when a menu gains focus or when any menu item is activated.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
		<event name="select">
			<desc>
				Triggered when a menu item is selected.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
	</events>
	<example>
		<desc>A simple jQuery UI Menu</desc>
		<code><![CDATA[
$( "#menu" ).menu();
]]></code>
		<css><![CDATA[
	.ui-menu {
		width: 200px;
	}
]]></css>
		<html><![CDATA[
<ul id="menu">
	<li>
		<div>Item 1</div>
	</li>
	<li>
		<div>Item 2</div>
	</li>
	<li>
		<div>Item 3</div>
		<ul>
			<li>
				<div>Item 3-1</div>
			</li>
			<li>
				<div>Item 3-2</div>
			</li>
			<li>
				<div>Item 3-3</div>
			</li>
		</ul>
	</li>
	<li>
		<div>Item 4</div>
	</li>
	<li>
		<div>Item 5</div>
	</li>
</ul>
]]></html>
	</example>
	<category slug="widgets"/>
</entry>
